@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard'),
        url(/assets/fonts/Pretendard-Regular.subset.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard'),
        url(/assets/fonts/Pretendard-SemiBold.subset.woff2) format('woff2');
    font-weight: 600;
}

:root {
    font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    min-width: 320px;
    max-height: 100dvh;
    box-sizing: border-box;
    padding: 16px 0;
}

body,
button {
    font-size: 1rem;
    font-family: inherit;
}

img {
    max-width: 256px;
    max-height: 256px;
    width: auto;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

img,
button {
    user-select: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 512px;
    width: 100%;
    margin: 12px auto;
}

header h1 {
    margin: 0;
}

main {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
}

#question {
    text-align: left;
    word-break: keep-all;
}

#title {
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#img-container {
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-btn {
    color: #fff;
    background-color: rgb(59 130 246);
    border: 0;
    padding: 12px 30px;
    border-radius: 50px;
    transition: background-color 0.5s;
    font-weight: 600;
}

#start-btn:hover {
    background-color: rgb(37 99 235);
}

#option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.option {
    border: 1px solid #333;
    background-color: #fff;
    padding: 8px 12px;
    transition: background-color 0.5s;
    max-width: 100%;
    width: 100%;
    word-break: keep-all;
}

#progress {
    height: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 100%;
    border-radius: 10px;
}

#progress-bar {
    position: relative;
    height: 10px;
    background-color: #333;
    border-radius: 10px;
}

@media screen and (max-width: 740px) {
    header,
    main {
        max-width: 384px;
    }
}

@media screen and (max-width: 512px) {
    header,
    main {
        max-width: 256px;
    }
}
